<h1>About Shortener</h1>
<p>This is a URL shortener</p>
<p>We have <%= @developer_count %> developer<% if @developer_count > 1 %>s<% end %>.</p>
<p>We have <%= @url_count %> urls.</p>
<p> '<%= @cookieabc %>' '<%= @sessionabc %>' </p>
